$primary_color: #000;
$white: #FAFAFA;
$grey: #555;
$white-chalk: #f4f4f0;
$green-chalk: #bcdf8a;
$yellow-chalk: #f5f9ad;
$red-chalk: #ed7777;
$blue-chalk: #94c0cc;
$pink-chalk: #f2a3bd;
$purple-chalk: #c4adc9;