@import "_colors";
@import "navbar";
@import "typografy";
@import "menu";
@import "admin";
@import "footer";


body {
    /*background-image: url('../images/pizza_background.png');*/
    background-image: url('../images/ot8per0.jpg');
    /*background-repeat: no-repeat;*/
    margin: 0;
    background-size: cover;
    background-color: #fff;
    background-attachment: fixed;
    padding-bottom: 0;
    padding-top: 50px;

    a:hover {
        text-decoration: none;
    }
}

.body-content {
    /*margin-top: 50px;*/
}

.section-container {
    background-color: $white;
    padding-bottom: 50px;
    padding-top: 50px;
}
.container.body-content {
    background-color: $white;
    padding-bottom: 50px;
    margin-top: 50px;
}