@import "colors";
#menu {
    /*background-color: $white;*/
    /*margin-top: 50px;*/
    padding-bottom: 50px;

    .menu-title {
        text-align: center;
    }

    #img-pizza{
        width: 100%;
        height:auto;
    }
}