@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu:400,400i,700);
.admin-navbar {
  margin-top: 55px;
  padding-bottom: 10px; }
  .admin-navbar .navbar-link {
    padding-right: 20px; }

@font-face {
  font-family: 'fff_tusj';
  src: url("../fonts/fff_tusj.ttf") format("truetype"); }

@font-face {
  font-family: 'kgtenthousandreasons';
  src: url("../fonts/kgtenthousandreasons.ttf") format("truetype"); }

@font-face {
  font-family: 'emily lime - bergamot ornaments';
  src: url("../fonts/emily lime - bergamot ornaments.ttf") format("truetype"); }

/*MENU FONTS*/
#menu .ornament, #footer .ornament, #cart .ornament, .chalk .ornament {
  font-family: "emily lime - bergamot ornaments";
  font-weight: normal;
  color: #f4f4f0;
  font-size: 60px;
  line-height: 10px; }

#menu .ornament-small, #footer .ornament-small, #cart .ornament-small, .chalk .ornament-small {
  font-size: 30px; }

#menu h1, #menu h2, #footer h1, #footer h2, #cart h1, #cart h2, .chalk h1, .chalk h2 {
  font-family: "fff_tusj", sans-serif;
  font-weight: normal;
  color: #f4f4f0; }

#menu h1, #footer h1, #cart h1, .chalk h1 {
  font-size: 100px; }

#menu h2, #footer h2, #cart h2, .chalk h2 {
  font-size: 60px; }

#menu h3.title, #footer h3.title, #cart h3.title, .chalk h3.title {
  font-size: 30px; }

#menu h3, #menu h4, #footer h3, #footer h4, #cart h3, #cart h4, .chalk h3, .chalk h4 {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #f4f4f0; }

#menu th, #footer th, #cart th, .chalk th {
  font-family: "fff_tusj", sans-serif;
  font-weight: normal;
  color: #f4f4f0;
  font-size: 30px; }

#menu td, #footer td, #cart td, .chalk td {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #f4f4f0; }

#menu body, #menu p, #menu b, #menu label, #footer body, #footer p, #footer b, #footer label, #cart body, #cart p, #cart b, #cart label, .chalk body, .chalk p, .chalk b, .chalk label {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #f4f4f0; }

#menu #submit, #menu .submit, #footer #submit, #footer .submit, #cart #submit, #cart .submit, .chalk #submit, .chalk .submit {
  border: none;
  background: none;
  padding-left: 0; }

#menu .success-chalk, #footer .success-chalk, #cart .success-chalk, .chalk .success-chalk {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #bcdf8a;
  font-size: 20px; }

#menu .yellow-chalk, #footer .yellow-chalk, #cart .yellow-chalk, .chalk .yellow-chalk {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #f5f9ad; }

#menu .red-chalk, #footer .red-chalk, #cart .red-chalk, .chalk .red-chalk {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #ed7777; }

#menu .blue-chalk, #footer .blue-chalk, #cart .blue-chalk, .chalk .blue-chalk {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #94c0cc; }

#menu .pink-chalk, #footer .pink-chalk, #cart .pink-chalk, .chalk .pink-chalk {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #f2a3bd;
  font-size: 20px; }

#menu .purple-chalk, #footer .purple-chalk, #cart .purple-chalk, .chalk .purple-chalk {
  font-family: "kgtenthousandreasons", serif;
  font-weight: normal;
  color: #c4adc9;
  font-size: 20px; }

#menu h4.modal-title, #footer h4.modal-title, #cart h4.modal-title, .chalk h4.modal-title {
  font-family: "Slabo", serif;
  font-weight: normal;
  color: #555; }

/*OTHER FONTS*/
h1, h2, h3, .title, a, th {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal; }

body, td {
  font-family: "Slabo", serif;
  font-weight: normal; }

button, .btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400; }

.btn-danger {
  font-style: italic; }

#menu {
  /*background-color: $white;*/
  /*margin-top: 50px;*/
  padding-bottom: 50px; }
  #menu .menu-title {
    text-align: center; }
  #menu #img-pizza {
    width: 100%;
    height: auto; }

.not-delivered {
  border: solid 2px red; }

#footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(85, 85, 85, 0.2);
  color: #f4f4f0; }
  #footer #copyright {
    text-align: center;
    margin-bottom: 50px; }
  #footer .social-media {
    text-align: center; }
    #footer .social-media h4 {
      margin-top: 60px;
      margin-bottom: 20px; }
    #footer .social-media a {
      color: #FAFAFA; }
      #footer .social-media a:hover {
        color: #222222; }

.container.body-content.chalk {
  background: none; }

body {
  /*background-image: url('../images/pizza_background.png');*/
  background-image: url("../images/ot8per0.jpg");
  /*background-repeat: no-repeat;*/
  margin: 0;
  background-size: cover;
  background-color: #fff;
  background-attachment: fixed;
  padding-bottom: 0;
  padding-top: 50px; }
  body a:hover {
    text-decoration: none; }

.body-content {
  /*margin-top: 50px;*/ }

.section-container {
  background-color: #FAFAFA;
  padding-bottom: 50px;
  padding-top: 50px; }

.container.body-content {
  background-color: #FAFAFA;
  padding-bottom: 50px;
  margin-top: 50px; }

