@model ThankYouViewModel

<div class="chalk">
    <h2>@Model.Name</h2>
    <h3>Thank you for shopping at PizzaShop!</h3>
    <h3 class="blue-chalk">A confirmation email for your order of @Model.Amount.ToString("C") has been sent to @Model.Email</h3>
</div>