<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"><span class="fa fa-user"> </span> Log in</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"><span class="fa fa-lock"> </span> Register</a></li>
</ul>  