<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="fa fa-user"> </span> Log in</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Register"><span class="fa fa-lock"> </span> Register</a></li>
</ul>  