@using PizzaShop.Entities
@model PizzaShop.Entities.ApplicationUser
    
@{
    var userName = User.IsInRole("Admin") ? "Admin" : Model.Name;
}

<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
    <ul class="nav navbar-nav">
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @userName!</a>
        </li>
        <li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
        </li>
        <li><a asp-controller="Manage" asp-action=""></a></li>
    </ul>
</form>  