@*@model CartViewModel

@if (Model.Cart._cartItems.Count > 0)
{
    <li>
        <a>
            <span class="i fa fa-lg fa-shopping-cart"></span>
            <span id="cart-status">
                @Model.Cart._cartItems.Count
            </span>
        </a>
    </li>
}*@