@model MenuViewModel


<div class="container-fluid">
    <div id="menu">
        <div class="panel-body">
            <h1 class="menu-title">Menu</h1>
            <div class="text-center"><span class="ornament">~</span></div>
        </div>
        
        <div class="col-md-4">
            <h2 class="title text-center">Pizza</h2>
            <div class="text-center"><span class="ornament">`</span></div>
            @foreach (var dish in Model.PizzaDishes)
            {
                await Html.RenderPartialAsync("_MenuDishPartial", dish);
            }

        </div>
        <div class="col-md-4">
            <img id="img-pizza" src="~/images/g4627.png"/>
        </div>
        <div class="col-md-4">
            <h2 class="title text-center">Salad</h2>
            <div class="text-center"><span class="ornament">`</span></div>
            @foreach (var dish in Model.SalladDishes)
            {
                await Html.RenderPartialAsync("_MenuDishPartial", dish);
            }
        @*</div>
        <div class="clearfix"> </div>

        <div class="col-md-4 col-md-offset-8">*@
            <h2 class="title text-center">Pasta</h2>
            <div class="text-center"><span class="ornament">`</span></div>
            @foreach (var dish in Model.PastaDishes)
            {
                await Html.RenderPartialAsync("_MenuDishPartial", dish);
            }
        </div>
        <div class="col-md-6">

        </div>
        <div class="clearfix"> </div>
    </div>
</div>